@model Economy
@{
    Layout = "_Layout";
}

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h2 class="text-info pl-3">Add Economy</h2>
                    <div class="col-7">
                        <div>
                            <label asp-for="Description">Title:</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="Amount">Amount:</label>
                            <textarea asp-for="Amount" class="form-control"></textarea>
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>


                        <div class="col p-0">
                            <label>Search Horse:</label>
                            <input type="text" id="horseName" class="form-control" value="" />
                        </div>

                        <button type="button" class="btn btn-outline-info" onclick="urlChange()">Search</button>
                        <div class="col p-0">
                            <label asp-for="HorseId">
                                Horse Id:
                                <p style="font-size: 10px">Automatically fills up when an horse is selected from the search result.</p>
                            </label>
                            <input type="text" id="horseId" asp-for="HorseId" readonly class="form-control" value="" />
                            <span asp-validation-for="HorseId" class="text-danger"></span>
                        </div>
                        <div>
                            <br />
                            <button class="btn btn-primary">Add Horse</button>
                        </div>
                    </div>
                <div class="col custom-class">
                    <iframe id="HorseIframe" src="" style="width:100%;height:50vh;overflow:scroll;border: 1px solid black;">
                    </iframe>

                </div>
                    
                </div>
            </div>

        </div>
    </div>
</form>

<script>
    function urlChange() {

        document.getElementById('HorseIframe').src = '/Horse/SearchHorse?name=' + document.getElementById('horseName').value
    }
</script>
<script>
    function SendAuthor(input) {
        var id = input;
        document.getElementById('horseId').value = id;
    }
</script>
<script>
    function changeIframe() {
        document.getElementById('HorseIframe').src = '/Horse/Create';

    }
</script>
